.donate-hero-section {
  background-image: url("../../../Assets//Images//donate-hero-image.png");
  background-size: cover;
  background-position: center;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.donate-hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent overlay */
}

.donate-overlay {
  position: relative; /* Keeps the text above the overlay */
  text-align: center;
  color: white;
  padding: 20px;
  /* border-radius: 8px; */
}

.donate-header {
  color: #f0f0f0;
  text-align: center;
  font-family: Poppins;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 40px;
}

.donate-details {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 50px;
}
/* FORM SECTION */
.donate-form-container {
  padding: 100px 50px;
}
.container {
  /* max-width: 500px; */
  max-width: 60%;
  margin: 0 auto;
  padding: 100px 50px;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

.t-donate-heading {
  font-size: 30px;
  margin-bottom: 10px;
}

.t-donate-details {
  font-size: 18px;
  color: #555;
}

.donation-options {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 30px;
  gap: 20px;
}

.donation-option {
  background-color: #fff4ee;
  border: none;
  padding: 18px 30px;
  width: 30%;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
}
.donation-option-two {
  background-color: #e6e3eb;
  border: none;
  padding: 18px 30px;
  width: 30%;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
}

.donation-option:hover {
  background-color: #e0e0e0;
}

.donation-form {
  background-color: #fff4ee;
  padding: 50px 50px;
  border-radius: 8px;
}
.form-group-heading {
  font-size: 18px;
  color: #555;
  margin-bottom: 4em;
  font-family: 600;
}

.form-group {
  margin-bottom: 18px;
  color: #b0b0b0;
}

input[type="text"],
input[type="email"],
select {
  width: 100%;
  padding: 30px;
  margin-top: 5px;
  border: 0 solid #ddd;
  border-radius: 5px;
  color: #b0b0b0;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.agreement {
  display: flex;
  align-items: center;
}

.submit-button {
  width: 100%;
  background-color: #ffa500;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #ff8c00;
}
